.page-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition:
    opacity 300ms,
    transform 300ms;
}
.page-exit {
  opacity: 1;
  transform: translateX(0);
}
.page-exit-active {
  opacity: 0;
  transform: translateX(30px);
  transition:
    opacity 300ms,
    transform 300ms;
}
